@font-face {
font-family: "Graphik";
src: url("../assets/fonts/Graphik-Medium.woff") format("woff"),
url("../assets/fonts/Graphik-Medium.otf") format("opentype"),
url("../assets/fonts/Graphik-Medium.ttf") format('truetype')
}


html, body {
  font-family: Graphik;
  font-size: 14px;
  margin: 0;
  display: inline-block;
}
p {
  line-height: 22px;
  margin-top: 20px;
}
/* .product {
  background-color: #F8F8F9;
  overflow: scroll;
  height: 100vh;
  display: inline-block;

} */

.product{
  width: 100%;
  height: 100vh;
  background-color:#F8F8F9;
  overflow: scroll;
  display: inline-block;
  padding-bottom: 50px;
}

* {
    box-sizing: border-box;
}

.size-item {
  padding: 10px;
  display: inline-block;
  width: inherit;
}
.size-item:hover {
  background-color: white;
}

.row {
  margin-left: 5%;
  margin-right: 5%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* .product-carousel {
  display:none;
} */
.column {
  float: left;
  width: 25%;
  position: absolute;
  margin-top: 260px;

}

.right {
  right: 5%;
}

.info-col {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 32px;
  font-size: 14px;
  background-color: transparent;
  display: inline-block;
}

.info-col input {
  font-family: Graphik;
  position: absolute;
  background-color: transparent;
  border: 0px;
  content:"1";
  outline: 0;
  font-size: 14px;
  width: 24px;
  padding:0;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]
{
  -moz-appearance: none;
}
.info-row {
  content:"";
  display: table;
  clear:both;
  width: 100%;
  border: 1px solid black;
  margin-top: 20px;

}

.right-button{
  float: right;
}
h6{
  margin: 0;
  font-weight: normal;
}
.option-button {
  font-size: 10px;
  text-decoration: underline;
  background-color: transparent;
  border: 0;
  margin-top: 10px;
  padding:0;
}
.info-button {
  width: 32px;
  background-color: transparent;
  border: 0;
  font-size: 12px;
  font-weight: bold;
}
#size {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 10px;
  height: 10px;
  margin:10px;
}
.button-container {
  margin-top: 40px;
}
.add-button {
  background-color: black;
  width: 100%;
  border: 0;
  color: white;
  height: 36px;
}

.set {
  font-size: 16px;
}

.product-imgs {
  position: auto;
  width: 35%;
  margin-left: 32%;
  margin-right: 32%;
  margin-top: 100px;
  cursor: zoom-in;
}

.img {
    width:100%;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.size-container {
  position: absolute;
  display: none;
  margin-top: 30px;
  width: inherit;
  background-color: #F8F8F9;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow: auto;
}
.show {display: block;}

.more-products {
  width: 100%;
  height: auto;
  display: relative;
  margin-top: 100px;
}
.product-row {
  width: 100%;
  text-align: center;
  margin: auto;

}
.product-col{
  width: 50%;
  float: left;
  text-align: center;
  display: inline-block;

}
.product-row img {
  padding-bottom: 20px;
}
.product-row p {
  margin: 0;
  font-size: 11px;
  padding-bottom: 40px;
}
.product-row a {
  text-decoration: underline;
}
.product-container{
  display: inline-block;
  padding: 20px;
  text-align: left;
}

.middle {
  width: 100%
}

/* responsive for tablets and mobile */
@media only screen and (max-width: 900px) {
    .column {
      width: 100%;
      position: relative;
      margin: auto;
    }
    .right {
      right: 0;
    }
    .product-col {
      width: 100%;
    }
    .product-imgs {
      display: none;
    }
    .product {
      overflow:hidden;
      height: auto;
    }

}
